{% extends 'front.html.twig' %}

{% block title %}Reponse index{% endblock %}
{% block style %} active {% endblock %}

{% block yosr %}

    <h1>Reponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.reponse }}</td>
                <td>
                    <a href="{{ path('reponse_show', {'id': reponse.id}) }}">show</a>
                    <a href="{{ path('reponse_edit', {'id': reponse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        <video title="Wildlife" preload="auto" autoplay controls>
            <source src="images/Memories of France.mp4" type="video/mp4">
            <p>Wildlife</p>
        </video>

        </tbody>
    </table>

    <a href="{{ path('reponse_new') }}">Create new</a>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/60508652f7ce182709308cfd/1f0t8pcq2';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}
