{% extends 'back.html.twig' %}
{%block body%}

<section id="main-content">
      <section class="wrapper">
        
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          

  <br> </br>
  <br> </br>
  <h2> <center>Liste des Transport</h2>
  <div class="d-flex align-items-center"><input class="form-control" type="search" id="search" placeholder="Search by Type">
        <a  href="{{ path('adminsearch') }}"><i class="fa fa-sort"></i></a>
  </div>
  <div class="col-md-12">
            <div class="section-heading">
              <a href="/transport/add">Ajouter un Offre <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Prix</th>
        <th>Disponibilité</th>
        <th>Description</th>
        <th>Editer</th>
      </tr>
    </thead>
               <tbody id="all">
    {% for transport in transports %}
      <tr>   <td>
        {{ transport.type}}
       </td> <td>
     {{ transport.price}}
       </td> <td>
     {{ transport.disponibilite }}
      </td>   <td>
        {{ transport.description}}
      </td> 
       <td>

       <a href="{{ path('updateTransport', {'id': transport.id}) }}"> Modifier</a>
       <a href="{{path('deleteTransport', {'id': transport.id}) }}"> Supprimer</a>
       </td>

     </tr> 
    {% endfor %}
    </tbody>
              <tbody align="left" border="2" id="search">
        </tbody>
  </table>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                currentRequest = $.ajax({
                    url : "{{ path('adminsearch') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>


{%endblock%}