{% extends 'back.html.twig' %}
{% block body  %}
<section id="main-content">
      <section class="wrapper">
        
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          
            


  <br> </br>
  <br> </br>
  <h2> <center>Liste des hotels</h2>
  <div class="col-md-12">
  <div class="d-flex align-items-center"><input class="form-control" type="search" id="search" placeholder="Search by Nom">
        <a  href="{{ path('search') }}"><i class="fa fa-sort"></i></a>
  </div>
trier<form action="{{ path('HotelsOrderASC') }}">
<a href="/admin/HotelsOrderASC">ASC<i class="fa fa-angle-left"></i></a>
</form><form action="{{ path('HotelsOrderDESC') }}"><a href="/admin/HotelsOrderDESC">DESC<i class="fa fa-angle-left"></i></a></form>
            <br>
            <br>
            <br>
            
            <div class="section-heading">
             <left> <a href="/hebergement/newHotel">Ajouter un Offre <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          
<table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody id="all">
    {% for hotel in hotels %}
      <tr><td>
       {{ hotel.nom }}
      </td>   <td>
        {{ hotel.adresse}}
       </td> <td>
     {{ hotel.price}}
       </td> <td>
     {{ hotel.description }}
      </td>   <td>
        {{ hotel.datedebut|date("m/d/y")}}
       </td> <td>
     {{ hotel.datefin|date("m/d/y")}}
     <td>
       

     <a href="{{ path('updateHotel', {'id': hotel.id}) }}"> Modifier</a>
     <a href="{{path('deleteHotel', {'id': hotel.id}) }}"> Supprimer</a>
     </td>

     </tr> 
         {% endfor %}

    </tbody>
              <tbody align="left" border="2" id="search">
        </tbody>
  </table>
   
    </div>
    </section>
    </section>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                currentRequest = $.ajax({
                    url : "{{ path('search') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}
