<div class="latest-products">
      <div class="container">
        <div class="row">
          
          {% for maison in maisondhotes %}
          <div class="col-md-4">
            <div class="product-item">
              <div class="down-content">
                <a href="{{ path('hoteldetails', {'id': maison.id}) }}"><h2>{{maison.nom}}</h2></a>
                <h5>Adresse :{{maison.adresse}}</h5>

                <h4>Price :{{maison.price}}</h4>
                <h5>Description :{{maison.description}}</h5>


                <small>
                     <strong title="Available"><i class="fa fa-calendar"></i>Starts from {{maison.datedebut|date("m/d/y")}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Available"><i class="fa fa-calendar"></i>Ends {{maison.datefin|date("m/d/y")}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                </small><br>
              </div>
            </div>
          </div>
          {% endfor %}

          
          
        </div>
    </div>
</div>
